  <!-- MAIN -->
  <main>
    <div class="head-title">
      <div class="left">
        <h1>Dashboard</h1>
        <ul class="breadcrumb">
          <!-- <li>
            <a href="#">Dashboard</a>
          </li> -->
          <!-- <li><i class='bx bx-chevron-right' ></i></li> -->
          <!-- <li>
            <a class="active" href="#">Home</a>
          </li> -->
        </ul>
      </div>
      <!-- <a href="#" class="btn-download">
        <i class='bx bxs-cloud-download' ></i>
        <span class="text">Download PDF</span>
      </a> -->
    </div>

    <div class="row">
        
      <div class="col-xl-4 grid-margin stretch-card">
          <div class="card">
            <div class="card-body border-bottom">
              <div class="d-flex justify-content-between align-items-center flex-wrap">
                <h6 class="mb-2 mb-md-0 text-uppercase font-weight-medium">Plant Identification</h6>
                <select>
                  <option value="Today">Today</option>
                  <option value="Week">Week</option>
                  <option value="Month">Month</option>
                  <option value="Year">Year</option>
                </select>
              </div>
            </div>
            <div class="card-body">
              <div class="d-flex align-items-center justify-content-between border-bottom pb-3 mb-3 mt-4">
                <div class="d-flex flex-column justify-content-center align-items-center">
                  <p class="text-muted">Total</p>
                  <h5>100</h5>
                  <div class="d-flex align-items-baseline">
                  </div>
                </div>
                <div class="d-flex flex-column justify-content-center align-items-center">
                  <p class="text-muted">Completed</p>
                  <h5>80</h5>
                  <div class="d-flex align-items-baseline">
                  </div>
                </div>
                <div class="d-flex flex-column justify-content-center align-items-center">
                  <p class="text-muted">Pending</p>
                  <h5>20</h5>
                  <div class="d-flex align-items-baseline">
                  </div>
                </div>
              </div>
              <a style="text-align: right;" routerLink="/layout/plantationidentification">View All...</a>
            </div>
          </div>
        </div>

        <div class="col-xl-4 grid-margin stretch-card">
          <div class="card">
            <div class="card-body border-bottom">
              <div class="d-flex justify-content-between align-items-center flex-wrap">
                <h6 class="mb-2 mb-md-0 text-uppercase font-weight-medium">Farmers</h6>
                <select>
                  <option value="Today">Today</option>
                  <option value="Week">Week</option>
                  <option value="Month">Month</option>
                  <option value="Year">Year</option>
                </select>
              </div>
            </div>
            <div class="card-body">
              <div class="d-flex align-items-center justify-content-between border-bottom pb-3 mb-3 mt-4">
                <div class="d-flex flex-column justify-content-center align-items-center">
                  <p class="text-muted">Total</p>
                  <h5>400</h5>
                  <div class="d-flex align-items-baseline">
                  </div>
                </div>
                <div class="d-flex flex-column justify-content-center align-items-center">
                  <p class="text-muted">Completed</p>
                  <h5>300</h5>
                  <div class="d-flex align-items-baseline">
                  </div>
                </div>
                <div class="d-flex flex-column justify-content-center align-items-center">
                  <p class="text-muted">Pending</p>
                  <h5>100</h5>
                  <div class="d-flex align-items-baseline">
                  </div>
                </div>
              </div>
              <a style="text-align: right;" routerLink="/layout/farmers">View All...</a>
            </div>
          </div>
        </div>
  </div>

    <ul class="box-info">
      <li>
        <i class='bx bxs-calendar-check' ></i>
        <span class="text">
          <h3>120</h3>
          <p>Nursaries</p>
        </span>
      </li>
      <li>
        <i class='bx bxs-group' ></i>
        <span class="text">
          <h3>150</h3>
          <p>Crop Varities</p>
        </span>
      </li>
      <li>
        <i class='bx bxs-dollar-circle' ></i>
        <span class="text">
          <h3>40</h3>
          <p>Campigns</p>
        </span>
      </li>
    </ul>

    <ul class="box-info">
      <li>
        <i class='bx bxs-group' ></i>
        <span class="text">
          <h3>150</h3>
          <p>Field Visits</p>
        </span>
      </li>
      <li>
        <i class='bx bxs-dollar-circle' ></i>
        <span class="text">
          <h3>20</h3>
          <p>Farm Diseases</p>
        </span>
      </li>
    </ul>


  
  
    <!-- <div class="table-data">
      <div class="order">
        <div class="head">
          <h3>Recent Orders</h3>
          <i class='bx bx-search' ></i>
          <i class='bx bx-filter' ></i>
        </div>
        <table>
          <thead>
            <tr>
              <th>User</th>
              <th>Date Order</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
                <p>John Doe</p>
              </td>
              <td>01-10-2023</td>
              <td><span class="status completed">Completed</span></td>
            </tr>
            <tr>
              <td>
                <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
                <p>John Doe</p>
              </td>
              <td>01-10-2023</td>
              <td><span class="status pending">Pending</span></td>
            </tr>
            <tr>
              <td>
                <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
                <p>John Doe</p>
              </td>
              <td>01-10-2023</td>
              <td><span class="status process">Process</span></td>
            </tr>
            <tr>
              <td>
                <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
                <p>John Doe</p>
              </td>
              <td>01-10-2023</td>
              <td><span class="status pending">Pending</span></td>
            </tr>
            <tr>
              <td>
                <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
                <p>John Doe</p>
              </td>
              <td>01-10-2023</td>
              <td><span class="status completed">Completed</span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="todo">
        <div class="head">
          <h3>Todos</h3>
          <i class='bx bx-plus' ></i>
          <i class='bx bx-filter' ></i>
        </div>
        <ul class="todo-list">
          <li class="completed">
            <p>Todo List</p>
            <i class='bx bx-dots-vertical-rounded' ></i>
          </li>
          <li class="completed">
            <p>Todo List</p>
            <i class='bx bx-dots-vertical-rounded' ></i>
          </li>
          <li class="not-completed">
            <p>Todo List</p>
            <i class='bx bx-dots-vertical-rounded' ></i>
          </li>
          <li class="completed">
            <p>Todo List</p>
            <i class='bx bx-dots-vertical-rounded' ></i>
          </li>
          <li class="not-completed">
            <p>Todo List</p>
            <i class='bx bx-dots-vertical-rounded' ></i>
          </li>
        </ul>
      </div>
    </div> -->
  </main>
  <!-- MAIN -->